<html>

<head>
  <meta charset="UTF-8">
  <title>StudentsDB</title>
  <link href="assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/css/styles.css" rel="stylesheet">
</head>

<body>
  <header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">StudentsDB</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a id="showStudents" class="nav-link" href="#">Show Students</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <input id="studentId" class="form-control mr-sm-2" type="text" placeholder="Search in Mongoose" aria-label="Search">
          <button id="searchStudent" class="btn btn-primary" type="submit">Search</button>
          <button id="createStudent" data-toggle="modal" data-target="#studentmodal" type="button" class="btn btn-secondary">Create Student</button>
        </form>
      </div>
    </nav>
  </header>
  <!-- Begin page content -->
  <main>
    <table class="table">
      </tbody>
    </table>
  </main>
  <!-- Modal -->
  <div class="modal fade" id="studentmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
      </div>
    </div>
  </div>
  <script type="text/javascript" src="assets/js/jquery.min.js"></script>
  <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="assets/js/script.js"></script>
</body>

</html>
